body{
    background-color: rgb(36, 35, 35);
    margin: 5px 0 0 0;
}
header{
    display: flex;
    justify-content: center;
}
#menudeck{
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
    width: 300px;
    display: none;
    position: absolute;
    z-index: 10;
}
.opmenu{
    padding: 5px;
}
main{
    display: grid;
}
.size-button{
    height: 200px;
    width: 140px;
}
.container-extra_ban{
    justify-content: end;
}
.display_basic{
    display: flex;
}
.container-extra_ban{
    display: flex;
}
.down_space{
    margin-bottom: 10px;
}.left_space{
    margin-left: 10px;
}
.right_space{
    margin-right: 10px;
}
footer{
    width: 100%;
    background-color: rgb(84, 82, 82);
    display: grid;
    justify-content: center;
    align-items: center;
}
.cardButton{
    width: 140px;
    height: 200px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#mao{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
    border: 2px solid black;
    padding: 10px;
    height: 200px;
    width: 1100px;
    background-color: white;
}
#buscar{
    display: none;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 2px solid black;
    padding: 10px;
    max-width: 1250px;
    height: 200px;
    width: 1100px;
    background-color: rgb(60, 60, 60);
}
#banir{
    display: none;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 2px solid black;
    padding: 10px;
    max-width: 1250px;
    height: 200px;
    width: 1100px;
    background-color: rgb(90, 1, 1);
}
#destruir{
    display: none;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 2px solid black;
    padding: 10px;
    max-width: 1250px;
    height: 200px;
    width: 1100px;
    background-color: rgb(100, 100, 100);
}